apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cloudshirt-ingress
  namespace: {{ namespace }}
  annotations:
    kubernetes.io/ingress.class: "gce"
spec:
  rules:
    - host: cloudshirt.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: eshopwebmvc-svc
                port:
                  number: 80
